@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Zen+Loop&display=swap');

h1 {
    font-family:'Josefin Sans', sans-serif;
    padding:20px;    
    text-align: center;
    font-weight:300;
    text-shadow: 5px 5px 5px red;
    font-size:45px;
}

form {
    text-align: center;
    color: red;
    
}

