@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

h1 {
    font-family: 'Lora', serif;
    padding:20px;    
    text-align: center;
    font-weight:300;
    text-shadow: 5px 5px 3px black;
    font-size:45px;
    font-style: italic;
}

p, h6, ul, li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2 ;
}

h6 {
    text-shadow: 1px 1px 2px black;
}

#footer {
    border-top-color: black;
    border-top-style: solid;
    border-width: 5px;
}

#tabs {
    margin:0 auto;
    width: 75%;
    height:900px;
    border-radius: 5px, ;
    padding-top: 30px;
}

#navbar-container {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-width: 5px;
}

/* .nav-tabs .nav-item .nav-link {
  background-color: #0080FF;
  color: #FFF;
} */

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #dc3545;
}


.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #dc3545;
    /* text-shadow: 1px 1px 1px black; */
    font-weight: bold;
}


#pills-tab {
    padding-bottom: 20px;
}

#yt-benefits, #yt-covid, #yt-why{
    border: 1px solid black; 
    border-radius: 1cm;
    box-shadow: 10px 10px 50px black;
}

